APP_NAME=AgroSales API
APP_ENV=development
APP_DEBUG=true
API_V1_PREFIX=/api/v1

DATABASE_URL=postgresql+asyncpg://agrosales:agrosales@db:5432/agrosales

JWT_SECRET_KEY=troque-por-uma-chave-com-pelo-menos-32-caracteres
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

POSTGRES_DB=agrosales
POSTGRES_USER=agrosales
POSTGRES_PASSWORD=agrosales

ADMIN_NAME=Administrador
ADMIN_EMAIL=admin@agrosales.local
ADMIN_PASSWORD=troque-esta-senha
