<section class="page">
  <nav aria-label="Breadcrumb">
    AgroSales / {{ title }}
  </nav>

  <header class="page-header">
    <div>
      <span class="eyebrow">
        Módulo
      </span>

      <h1>{{ title }}</h1>

      <p>
        {{ description }}
      </p>
    </div>

    <mat-icon>
      {{ icon }}
    </mat-icon>
  </header>

  <article class="content-card">
    <h2>Estrutura pronta</h2>

    <p>
      Este módulo será desenvolvido
      nas próximas etapas do AgroSales.
    </p>
  </article>
</section>